!!! 5
%html
  %head
    %title Battle Feed
    %link(rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/smoothness/jquery-ui.css")
    %link(rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css")
    /%link(rel="stylesheet" href="http://www.spry-soft.com/grids/grid.css?column_width=60&column_amount=12&gutter_width=20")
    %link(rel="stylesheet" href="http://www.spry-soft.com/grids/fluid_grid.css?column_amount=12")
    %script(type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAKkF6GsQUptL0jCixC3mq2xSpPuWdh7QwU-b5ywbpDu0AhEOVqxS31qPmHENzwebLkjOvGYD0Msv6OQ")
    %script(type="text/javascript" src="/js/app.js")
    %script(type="text/javascript" src="/js/pretty.js")
    :css
      ul.vids .ui-selecting { background: #FECA40; } 
      ul.vids .ui-selected { background: #F39814; color: white; } 
      ul.vids { list-style-type: none; margin: 0; padding: 0; }
      ul.vids li { margin: 0px; padding: 0px; } */
  %body
    .container_12
      .selectFeed.grid_12
        %form
          %input(type="radio" id="radio1" name="radio" value="drect" checked)
          %label(for="radio1") Grind Time
          %input(type="radio" id="radio2" name="radio" value="KingOfTheDot")
          %label(for="radio2") KOTD
          %input(type="radio" id="radio3" name="radio" value="DontFlop")
          %label(for="radio3") Don't Flop
          %input(type="radio" id="radio4" name="radio" value="gotbeefbattles")
          %label(for="radio4") Got Beef?
          %input(type="radio" id="radio5" name="radio" value="ViceCityCypher")
          %label(for="radio5") Street Wars
          %input(type="radio" id="radio6" name="radio" value="theUrltv")
          %label(for="radio6") URL
          %input(type="radio" id="radio7" name="radio" value="NoCoastRaps")
          %label(for="radio7") No Coast
      .selectedVid.grid_6
        %iframe.youtube-player(type="text/html" width="640" height="385" src="" frameborder="0")
        %p.title
        %p.description
      .grid_6
        %ul.vids
        