!!! 5
%html
  %head
    %title Battle Feed
    %link(rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/smoothness/jquery-ui.css")
    %link(rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css")
    /%link(rel="stylesheet" href="http://www.spry-soft.com/grids/grid.css?column_width=60&column_amount=12&gutter_width=20")
    /%link(rel="stylesheet" href="http://www.spry-soft.com/grids/fluid_grid.css?column_amount=12")
    %link(rel="stylesheet" href="css/grid.css")
    /[if IE]
      :css
        .selectFeed .ui-button-text {font-size:14px;width:8em;padding:5px}
    :css
      .selectFeed .ui-button-text {font-size:14px;padding:12px}
      .enlargeButton .ui-button-text {font-size:12px;padding:12px}
      ul.vids .ui-selecting { background: #FECA40; } 
      ul.vids .ui-selected { background: #F39814; color: white; } 
      ul.vids { list-style-type: none; margin: 0; padding: 0; }
      ul.vids li { margin: 0px; padding: 0px; }
      ul.vids li .date {color:gray; padding-right: 5px;}
      ul.vids li .date.today {color: green;}
      ul.vids li .mc {color: blue;}
      img.splash {width:100%;}
      .hideDuringSlash * {display: none;}
      #splash img.spinner {padding:100px;}
      .browserWarning {font-weight:bold;}
      /*#push, #footer {height: 4em}*/
      #footer {font-size:10pt; width: 70em;}
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20861569-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    .container_12
      .selectFeed.grid_12
        %form
          %input(type="radio" id="radio1" name="radio" value="users/drect/uploads" checked)
          %label(for="radio1") Grind Time
          %input(type="radio" id="radio9" name="radio" value="users/jfox209sons/uploads")
          %label(for="radio9") JUNGLE
          %input(type="radio" id="radio8" name="radio" value="users/Absyrd/uploads")
          %label(for="radio8") Assault &amp; Battling
          %input(type="radio" id="radio7" name="radio" value="users/BodyBagBattles/uploads")
          %label(for="radio7") Body Bag
          %input(type="radio" id="radio10" name="radio" value="users/TexasBattleLeague/uploads")
          %label(for="radio10") Texas
          %input(type="radio" id="radio11" name="radio" value="users/NoCoastRaps/uploads")
          %label(for="radio11") No Coast
          %input(type="radio" id="radio5" name="radio" value="users/ViceCityCypher/uploads")
          %label(for="radio5") Street Wars
          %input(type="radio" id="radio2" name="radio" value="users/KingOfTheDot/uploads")
          %label(for="radio2") KOTD
          %input(type="radio" id="radio6" name="radio" value="users/theUrltv/uploads")
          %label(for="radio6") URL
          %input(type="radio" id="radio3" name="radio" value="users/DontFlop/uploads")
          %label(for="radio3") Don't Flop
          %input(type="radio" id="radio4" name="radio" value="users/gotbeefbattles/uploads")
          %label(for="radio4") Got Beef?
          %input(type="radio" id="radio12" name="radio" value="users/AMilonakis/uploads")
          %label(for="radio12") AMilonakis
          /%input(type="radio" id="radio8" name="radio" value="playlists/44D174786DB427B9")
          /%label(for="radio8") Vault
      .selectedVid.grid_6
        /[if IE]
          %p.browserWarning You are using Internet Explorer. You might have better luck in Firefox or Chrome.
        %a.splash#splash(href="http://board.rapmusic.com/battle-video-archives/1261472-no-coast-valentines-day-massacre-fliers-mudslinger-v-madness-more.html")
          %img.flyer(src="img/flyer.jpg")
          %img.spinner(src="/img/spinner.gif")/
        /%img.splash(src="http://www.comicbookmovie.com/images/users/uploads/8558/300movie_story1.jpg")/
        %iframe.youtube-player(type="text/html" src="" frameborder="0")
        %p.title
        %p.description
        %p.enlargeButton.hideDuringSplash
          %input(type="checkbox" id="enlarge")/
          %label(for="enlarge") Enlarge
      .feedListing.grid_6
        %ul.vids
      #push
    #footer.container_12
      /%p.grid_12 Battle Feed is maintained by <a href="mailto:ray.myers@gmail.com?subject=Battle Feed">DJ Pompey</a>.
      .grid_12
        /%p Copyright &#169; 2011 Cadrlife, LLC.
        /%p Source code available under the terms of GNU GPL.
        /%p All videos owned by their respective leagues.
    /[if lt IE 9]
      %script(type="text/javascript" src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")
    %script(type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAKkF6GsQUptL0jCixC3mq2xSpPuWdh7QwU-b5ywbpDu0AhEOVqxS31qPmHENzwebLkjOvGYD0Msv6OQ")
    %script(type="text/javascript" src="/js/app.js")
    %script(type="text/javascript" src="/js/humane.js")
    
