!!! 5
%html
  %head
    %title Battle Feed - The RIGHT Way To Watch Rap Battles
    %meta(property="og:title" content="Battle Feed")
    %meta(property="og:type" content="website")
    %meta(property="og:url" content="http://battlefeed.djpompey.com")
    %meta(property="og:image" content="http://battlefeed.djpompey.com/img/NoCoastLogo.png")
    %meta(property="og:description" content="The RIGHT way to watch rap battles")
    %link(rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/smoothness/jquery-ui.css")
    %link(rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css")
    /%link(rel="stylesheet" href="http://www.spry-soft.com/grids/grid.css?column_width=60&column_amount=12&gutter_width=20")
    /%link(rel="stylesheet" href="http://www.spry-soft.com/grids/fluid_grid.css?column_amount=12")
    %link(rel="stylesheet" href="css/1020grid.css")
    %link(rel="stylesheet" href="css/button.css?bust")
    /[if IE]
      :css
        .selectFeed .ui-button-text {font-size:14px;width:8em;padding:5px}
    :css
      .selectFeed .ui-button-text {font-size:14px;padding:12px}
      #leagueContainer {padding-bottom:1px;}
      .selectFeed div {float:left}
      .selectFeed div {margin:1px}
      .enlargeButton .ui-button-text {font-size:12px;padding:12px}
      ul.vids .ui-selecting { background: #FECA40; } 
      ul.vids .ui-selected { background: #F39814; color: white; } 
      ul.vids { list-style-type: none; margin: 0; padding: 0; }
      ul.vids li { margin: 0px; padding: 0px; }
      ul.vids li .date {color:gray; padding-right: 5px;}
      ul.vids li .date.today {color: green;}
      ul.vids li .mc {color: blue;}
      img.splash {width:100%;}
      .hideDuringSlash * {display: none;}
      #splash img.spinner {padding:100px;}
      .browserWarning {font-weight:bold;}
      /*#push, #footer {height: 4em}*/
      #footer {font-size:10pt; width: 70em;}
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20861569-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    .container_12
      #leagueContainer.grid_12
        .selectFeed.leagues
          .button(data-path="users/drect/uploads") Grind Time
          .button(data-path="users/KingOfTheDot/uploads") KOTD
          .button(data-path="users/GroundZeroBattles/uploads") Ground Zero
          .button(data-path="users/DontFlop/uploads") Dont Flop
          .button(data-path="users/gotbeefbattles/uploads") Got Beef
          .button(data-path="users/GrindTimeNowAust/uploads") GTNA
          .button(data-path="users/theUrltv/uploads") URL
          .button(data-path="users/NoCoastRaps/uploads") No Coast
          .button(data-path="users/crtclrp/uploads") Basementality
          .button(data-path="users/BodyBagBattles/uploads") Bodybag
          .button(data-path="users/TexasBattleLeague/uploads") Texas
          /.button(data-path="users/fliptopbattles/uploads") Flip Top
      .selectedVid.grid_6
        /[if IE]
          %p.browserWarning You are using Internet Explorer. You might have better luck in Firefox or Chrome.
        %a.splash#splash(href="http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=0CFoQFjAB&url=http%3A%2F%2Fwww.kingofthedot.com%2Fshowthread.php%3F1917-KOTD-OUTBREAK-JUNE-30th-Title-Match-GP-Semi-Finals%26p%3D13107&ei=9jjqT_HjLYTq9AT4saEd&usg=AFQjCNGUW9Vx8wOvhQYtt2s8M3x8xYBUOA")
          %img.flyer(src="http://i.imgur.com/YL80d.jpg" height="633" width="490")
        /%img.splash(src="http://www.comicbookmovie.com/images/users/uploads/8558/300movie_story1.jpg")/
        %iframe.youtube-player(type="text/html" src="" frameborder="0")
        %p.title
        %p.description
        %p.viewCount
        %p.enlargeButton.hideDuringSplash
          %input(type="checkbox" id="enlarge")/
          %label(for="enlarge") Enlarge
      .feedListing.grid_6
        %img#spinner(src="/img/spinner.gif")/
        %ul.vids
      #push
    #footer.container_12
      /%p.grid_12 Battle Feed is maintained by <a href="mailto:ray.myers@gmail.com?subject=Battle Feed">DJ Pompey</a>.
      .grid_12
        /%p Copyright &#169; 2011 Cadrlife, LLC.
        /%p Source code available under the terms of GNU GPL.
        /%p All videos owned by their respective leagues.
    /[if lt IE 9]
      %script(type="text/javascript" src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")
    %script(type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAKkF6GsQUptL0jCixC3mq2xSpPuWdh7QwU-b5ywbpDu0AhEOVqxS31qPmHENzwebLkjOvGYD0Msv6OQ")
    %script(type="text/javascript" src="/js/humane.js")
    %script(type="text/javascript" src="/js/app.js")
    %script(type="text/javascript" src="/js/feed.js")
    
