!!! 5
%html
  %head
    %title Battle Vault - DEFAULT_BATTLER
    %link(rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/smoothness/jquery-ui.css")
    %link(rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css")
    %link(rel="stylesheet" href="dataTables/css/demo_table_jui.css")
    %link(rel="stylesheet" href="css/grid.css")
    :css
      #lore_length {display:none}
      #lore_filter {display:none}
      .fg-toolbar {display:none}
      table#lore tr.ui-selecting { background: #FECA40; }
      table#lore tr.ui-selected { background: #F39814; }
  %body
    .container_12
      #watch
        %iframe.youtube-player(type="text/html" src="" frameborder="0")
    .container_12
      .grid_12
        %input#term(type="text" value="DEFAULT_BATTLER")
        %button#enlarge
    .container_12
      .grid_12
        %table#lore.display
          %thead
            %th Battle
            %th Date
            %th Views
            %th League
          %tbody
    %script(type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAKkF6GsQUptL0jCixC3mq2xSpPuWdh7QwU-b5ywbpDu0AhEOVqxS31qPmHENzwebLkjOvGYD0Msv6OQ")
    %script(type="text/javascript" src="/js/humane.js")
    %script(type="text/javascript" src="/js/lore.js")
    %script(type="text/javascript" src="/js/app.js")
    %script(type="text/javascript" src="/dataTables/js/jquery.dataTables.min.js")
